@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.nav-content {
  @include flex(space-between, center);
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 3;
}

.nav-list {
  display: flex;
  list-style: none;
  color: $offwhite;
}

.nav-list .icon {
  color: $offwhite;
  font-size: 1.3rem;
}

.nav-item {
  display: flex;
  padding: .5rem;
  cursor: pointer;
  &:hover {
    background: hsla(0, 0%, 100%, 0.098);
  }
}

.brand-text {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2rem;
  color: $offwhite;
}

.nav-item:nth-child(6),
.nav-item:nth-child(7) {
  display: none;
}

// MQ MOBILE
@media (max-width: 850px) {
  .nav-item:nth-child(6),
  .nav-item:nth-child(7) {
    display: flex;
  }
  .brand-text {
    font-size: 1.5rem;
    color: #000;
  }
  .nav-list .icon {
    color: #000;
  }
  .nav-left {
    position: fixed;
    opacity: 0;
    inset: 10vh 30% 0 0;
    height: 90vh;
    background-color: $offwhite;
    transform: translateX(-100%);
    transition: transform 250ms ease-out, opacity 250ms ease-out, box-shadow 0s;
  }
  .show {
    transform: translateX(0);
    opacity: 1;
    // box-shadow: 40vh 0 0 0 #000000a5;
  }
  .nav-left .links {
    justify-content:right;
    padding: 1rem;
    height: 100%;
    flex-direction: column;
    color: #000;
    font-size: 1.2rem;
    li:nth-child(6) {
      margin-top: 2rem;
    }
  }
  .nav-content {
    height: 10vh;
    background: hsla(0, 0%, 100%, 0.58);
    backdrop-filter: blur(.1rem);
  }
  .icon:nth-child(1),
  .icon:nth-child(2),
  .icon:nth-child(3) {
    display: none;
  }

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 20px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: .350s;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
}

// MQ +850px
@media (min-width: 850px) {
  .toggle,
  #checkbox {
    display: none;
  }
}
//